{
	"plugins": ["react", "react", "react-hooks", "prettier"],
	"extends": ["prettier", "plugin:@typescript-eslint/recommended", "eslint:recommended"],
	"overrides": [],
	"env": {
		"browser": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": ["error"],
		"@typescript-eslint/no-unused-vars": "warn",
		"no-unused-vars": "warn",
		"@typescript-eslint/no-empty-function": "off",
		// to enforce using type for object type definitions, can be type or interface
		"no-mixed-spaces-and-tabs": "warn",
		"no-empty": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-empty-interface": "warn",
		"@typescript-eslint/ban-ts-comment": "warn"
	}
}
